body{
    margin: 10px;
}

.container{
    width: 800px;
    /* Agar berada ditengah halaman kiri kanannya */
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
}

header{
    width: 100%;
    border: 2px solid #dcdcdc;
    padding-left: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

article{
    width: 650px;
    border: 1px solid #dcdcdc;
    padding: 40px;
    /* Agar dihitung dengan paddingnya sekalian */
    box-sizing: border-box;
}

.sidebar{
    width: 150px;
    background: #003b8a;
    border: 1px solid #dcdcdc;
    box-sizing: border-box;
}

.sidebar ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.sidebar ul li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px;
    border-bottom: 1px solid white;
}

.sidebar ul li a:hover {
    background: #0757c1;
}

footer{
    width: 100%;
    border: 2px solid #dcdcdc;
    padding: 10px 20px;
    text-align: right;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}